In [14]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=0.25 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\vincent\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vincent\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vincent\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vincent\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#

import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('mpg')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

1. Tampilkan nilai yang paling sering muncul pada kolom 'origin'

In [5]:
df["origin"].mode()

0    usa
Name: origin, dtype: object

2. Tampilkan rata-rata horsepower

In [6]:
df["horsepower"].mean()

104.46938775510205

3. Tampilkan rata-rata acceleration tiap cylinder

In [7]:
df[["cylinders","acceleration"]].groupby(by="cylinders").mean()

           acceleration
cylinders
3             13.250000
4             16.601471
5             18.633333
6             16.263095
8             12.955340

4. Tampilkan rata-rata acceleration tiap cylinder dan origin

In [20]:
df[["cylinders","origin","acceleration"]].groupby(by=["cylinders","origin"]).mean()

                  acceleration
cylinders origin
3         japan      13.250000
4         europe     16.722222
          japan      16.569565
          usa        16.526389
5         europe     18.633333
6         europe     16.425000
          japan      13.550000
          usa        16.474324
8         usa        12.955340

5. Tampilkan rata-rata acceleration tiap cylinder dan origin, kemudian urutkan hasilnya dari acceleration paling tinggi.

In [21]:
df[["cylinders","origin","acceleration"]].groupby(by=["cylinders","origin"]).mean().sort_values(by="acceleration",ascending=False)

                  acceleration
cylinders origin
5         europe     18.633333
4         europe     16.722222
          japan      16.569565
          usa        16.526389
6         usa        16.474324
          europe     16.425000
          japan      13.550000
3         japan      13.250000
8         usa        12.955340

6. Tampilkan jumlah mobil tiap cylinder

In [22]:
df[["cylinders","name"]].groupby(by="cylinders").count()

           name
cylinders
3             4
4           204
5             3
6            84
8           103

7. Tampilkan mobil dari japan dengan nilai mpg paling tinggi

In [23]:
df[(df["origin"]=="japan")&(df["mpg"]==df["mpg"].max())][["name"]]

          name
322  mazda glc

8. Displacement adalah jumlah volume total dari seluruh cylinder. Buat kolom baru bernama 'volume_per_cylinder'.

In [24]:
df["volume_per_cylinder"]=df["displacement"]/df["cylinders"]
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,volume_per_cylinder
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,38.375
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,43.750
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,39.750
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,38.000
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,37.750
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,35.000
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,24.250
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,33.750
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,30.000
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,29.750

9. Tampilkan jumlah mobil keluaran tahun 1975

In [25]:
df["model_year"][df["model_year"]==75].count()

30

10. Buat kolom baru bernama 'origin_brand' berisi nama origin dan brand-nya.

    Contoh:
    - usa chevrolet
    - usa buick
    - europe vw

In [9]:
df["brand"]=df["name"].str.split(" ").str[0]
df["origin_brand"]=df["origin"]+" "+df["brand"]
df.drop(columns="brand",inplace=True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_brand
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,usa chevrolet
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,usa buick
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,usa plymouth
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,usa amc
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,usa ford
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,usa ford
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,europe vw
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,usa dodge
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,usa ford
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,usa chevy

11. Apakah ada kolom missing values? Jika ada, tampilkan yang punya missing values!

In [12]:
df.isna().sum()[df.isna().sum()>0]

horsepower    6
dtype: int64

In [22]:
df[df["horsepower"].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_brand
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto,usa ford
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick,usa ford
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe,europe renault
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra,usa ford
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i,europe renault
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl,usa amc

In [25]:
df["horsepower"].fillna(value=df["horsepower"].median(),inplace=True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,origin_brand
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,usa chevrolet
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,usa buick
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,usa plymouth
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,usa amc
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,usa ford
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,usa ford
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,europe vw
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,usa dodge
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,usa ford
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,usa chevy

In [26]:
df.isna().sum()[df.isna().sum()>0]

Series([], dtype: int64)

In [27]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']