## **Statistics Exercise**

## __Import Library__

In [102]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns', None)

## __Load Dataset__

In [103]:
df = pd.read_csv('melb_data.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

<hr>

### **Nomor 1**

Tampilkan statistik deskriptif pada variabel **Rooms, Distance, Landsize**, dan **Price**!

In [104]:
df[['Rooms','Distance','Landsize','Price']].describe(include='all')

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

<hr>

### **Nomor 2**

a) Berapa jumlah **Rooms** pada rumah yang harganya paling mahal?

In [105]:
df[df['Price']==df['Price'].max()][['Rooms']]

       Rooms
12094      3

b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel **Distance**) terdekat?

In [106]:
df[df['Distance']==df['Distance'].min()][['Price']].mean()

Price    671166.666667
dtype: float64

c) Berapa rata-rata harga rumah yang luas tanahnya (variabel **Landsize**) 1 kali standar deviasi di atas rata-rata luas tanah?

In [107]:
df[(df['Landsize']<=(df['Landsize'].mean()+df['Landsize'].std())) &
   (df['Landsize']>df['Landsize'].mean())][['Price']].mean()

Price    1.267231e+06
dtype: float64

d) Berapa rentang (_range_) harga rumah (variabel **Price**) pada region ``Southern Metropolitan ``?

In [108]:
Range2d = df[df['Regionname']=='Southern Metropolitan'][['Price']].max() - df[df['Regionname']=='Southern Metropolitan'][['Price']].min()
Range2d

Price    7869000.0
dtype: float64

<hr>

### **Nomor 3**

Nilai outlier adalah nilai yang berada di bawah ``Q1 - (1.5 * IQR)`` atau di atas ``Q3 + (1.5 * IQR)``

* Hitung dulu Q1, Q2, dan IQR pada pada kolom **Price** (harga rumah)
* Hitung ada berapa nilai outlier pada kolom **Price**!

In [109]:
Q13 = df['Price'].quantile(0.25)
Q23 = df['Price'].quantile(0.5)
Q33 = df['Price'].quantile(0.75)
IQR3 = Q33 - Q13
n_out3 = len(df[(df['Price']<Q13 - (1.5*IQR3)) | (df['Price']>Q33 + (1.5*IQR3)) ])

print(f'Q1 = {Q13}\nQ2 = {Q23}\nIQR = {IQR3}\nJumlah Outlier = {n_out3} ')

Q1 = 650000.0
Q2 = 903000.0
IQR = 680000.0
Jumlah Outlier = 612

<hr>

### **Nomor 4**

Lakukan uji asumsi normalitas pada variabel harga rumah (Price) menggunakan:

* Shapiro Wilk Test
* D'Agostino and Pearson's Test

In [110]:
from scipy.stats import shapiro
sh4 = shapiro(df['Price'])
if sh4[1]>0.05:
    print(f'Shapiro Wilk Test: Distribusi Normal, P-Value = {sh4[1]}')
else:
    print(f'Shapiro Wilk Test: Distribusi tidak Normal, P-Value = {sh4[1]}')
from scipy.stats import normaltest
nt4 = normaltest(df['Price'])
if nt4[1]>0.05:
    print(f"D'Agostino and Pearson's Test: Distribusi Normal, P-Value = {nt4[1]}")
else:
    print(f"D'Agostino and Pearson's Test: Distribusi tidak Normal, P-Value = {nt4[1]}")

Shapiro Wilk Test: Distribusi tidak Normal, P-Value = 0.0
D'Agostino and Pearson's Test: Distribusi tidak Normal, P-Value = 0.0

c:\Users\Vincent\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

<hr>

### **Nomor 5**

Jika diasumsikan telah memenuhi syarat statistik parametrik, hitung seberapa kuat korelasi variabel **Rooms** dengan **Price**, serta arah korelasinya!

In [111]:
cor5 = df[['Rooms','Price']].corr().loc['Rooms','Price']
print(f'Room and Price has Positive Moderate Relation with correlation value = {cor5}')

Room and Price has Positive Moderate Relation with correlation value = 0.49663367618653204

<hr>

### **Nomor 6**

Jika diasumsikan telah memenuhi syarat statistik parametrik, dari beberapa Regionname manakah **Regionname** yang variabel jumlah kamarnya (**Rooms**) memiliki korelasi terkuat dengan variabel harga rumah (**Price**)!

In [112]:
print('Southern Metropolitan')
df.groupby('Regionname')[['Rooms','Price']].corr(method='pearson')

Southern Metropolitan

                                     Rooms     Price
Regionname
Eastern Metropolitan       Rooms  1.000000  0.502993
                           Price  0.502993  1.000000
Eastern Victoria           Rooms  1.000000  0.314423
                           Price  0.314423  1.000000
Northern Metropolitan      Rooms  1.000000  0.392813
                           Price  0.392813  1.000000
Northern Victoria          Rooms  1.000000  0.361144
                           Price  0.361144  1.000000
South-Eastern Metropolitan Rooms  1.000000  0.267799
                           Price  0.267799  1.000000
Southern Metropolitan      Rooms  1.000000  0.683744
                           Price  0.683744  1.000000
Western Metropolitan       Rooms  1.000000  0.476030
                           Price  0.476030  1.000000
Western Victoria           Rooms  1.000000  0.551887
                           Price  0.551887  1.000000

In [113]:
df.groupby('Regionname')['Rooms'].corr(df['Price'],method='pearson').sort_values(ascending=False).head(1)

Regionname
Southern Metropolitan    0.683744
Name: Rooms, dtype: float64

<hr>

### **Nomor 7**

Jika diasumsikan **tidak** memenuhi syarat statistik parametrik, hitung seberapa kuat korelasi variabel **Distance** dengan **Price**, serta arah korelasinya!

In [114]:
cor7 = df[['Distance','Price']].corr(method='spearman').loc['Distance','Price']
print(f'Distance and Price has Negative Weak Relation with correlation value = {cor7}')

Distance and Price has Negative Weak Relation with correlation value = -0.12998984131880323

<hr>

### **Nomor 8**

Jika diasumsikan telah memenuhi syarat statistik parametrik, dari beberapa Regionname manakah **Regionname** yang variabel jumlah jarak ke CBD (**Distance**) paling tidak berkorelasi dengan variabel harga rumah (**Price**)! Serta tampilkan juga Regionname yang paling berkorelasi kedua variabel ini!

In [115]:
print('Southern Metropolitan paling tidak berkolerasi\nNorthern Metropolitan paling berkolerasi')
df.groupby('Regionname')[['Distance','Price']].corr(method='pearson')

Southern Metropolitan paling tidak berkolerasi
Northern Metropolitan paling berkolerasi

                                     Distance     Price
Regionname
Eastern Metropolitan       Distance  1.000000 -0.124356
                           Price    -0.124356  1.000000
Eastern Victoria           Distance  1.000000 -0.345699
                           Price    -0.345699  1.000000
Northern Metropolitan      Distance  1.000000 -0.368552
                           Price    -0.368552  1.000000
Northern Victoria          Distance  1.000000  0.089566
                           Price     0.089566  1.000000
South-Eastern Metropolitan Distance  1.000000 -0.285564
                           Price    -0.285564  1.000000
Southern Metropolitan      Distance  1.000000  0.002489
                           Price     0.002489  1.000000
Western Metropolitan       Distance  1.000000 -0.334086
                           Price    -0.334086  1.000000
Western Victoria           Distance  1.000000 -0.046064
                           Price    -0.046064  1.000000

<hr>

### **Nomor 9**

Uji hipotesis apakah metode pembelian/**Method** berkaitan dengan **Type**/ tipe rumah (dependen) atau tidak saling berkaitan (independen)!

In [116]:
from scipy.stats import chi2_contingency
chi9 = chi2_contingency(df[['Method','Type']].pivot_table(index='Method',columns='Type',aggfunc=len))
display(df[['Method','Type']].pivot_table(index='Method',columns='Type',aggfunc=len))
print(f'menerima Ha: kedua variable berkaitan/dependent dengan Pvalue = {chi9[1]}')

Type       h    t     u
Method
PI      1069  134   361
S       6507  723  1792
SA        66    7    19
SP      1079  143   481
VB       728  107   364

menerima Ha: kedua variable berkaitan/dependent dengan Pvalue = 3.183702485154338e-22

<hr>

### **Nomor 10**

Uji hipotesis apakah rata-rata harga rumah (**Price**) antar Regionname berbeda ataukah sama!

Diasumsikan persyaratan statistik parametrik terpenuhi

In [117]:
from scipy.stats import f_oneway
df.groupby('Regionname')[['Price']].mean()

anova101 = f_oneway(df[df['Regionname']=='Eastern Metropolitan']['Price'],
         df[df['Regionname']=='Eastern Victoria']['Price'],
         df[df['Regionname']=='Northern Metropolitan']['Price'],
         df[df['Regionname']=='Northern Victoria']['Price'],
         df[df['Regionname']=='South-Eastern Metropolitan']['Price'],
         df[df['Regionname']=='Southern Metropolitan']['Price'],
         df[df['Regionname']=='Western Metropolitan']['Price'],
         df[df['Regionname']=='Western Victoria']['Price'])

print(f'menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = {anova101[1]}')

menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = 0.0

In [118]:
anova102=f_oneway(*df.groupby('Regionname')['Price'].apply(list))
print(f'menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = {anova102[1]}')

menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = 0.0

In [119]:
anova103=f_oneway(*[df[df['Regionname'] == region]['Price'] for region in df['Regionname'].unique()])
print(f'menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = {anova103[1]}')

menerima Ha: Rata-rata harga rumah antar region berbeda dengan Pvalue = 0.0

<hr>

### **Thank you & Keep Learning**